<%- include("../partials/header.ejs") %> 
<h1>Todo List</h1>
<% tasks.forEach(task => { %> 
<div>
    <h5><%- task.title + " " + task.created_at%></h5>
    <p><%-task.body %></p>
</div>
<% }) %> 
<%- include("../partials/footer.ejs") %> 